########## IO ###########
# folder for all outputs
output.folder=/huge1/people/chengli/projects/pyramid/archives/app3/ohsumed_20000/1

######### functions ##########
# generate training set; train model; produce reports for training set; train should be run prior to test
train=true
# generate test set; load model; produce reports for test set
test=true

######### feature ########## 
feature.useInitialFeatures=true
feature.categFeature.filter=true
feature.categFeature.percentThreshold=0.1
feature.ngram.n=1,2
feature.ngram.minDf=10
feature.ngram.slop=0,1
feature.missingValue=false


########## index ########## 
index.indexName=ohsumed_20000
index.clusterName=fijielasticsearch
index.documentType=document
# node or transport
index.clientType=node
# set hosts if clientType=transport
index.hosts=fiji11,fiji12
# set ports if clientType=transport
index.ports=9300,9300
index.labelField=real_labels
index.featureFieldPrefix=feature
index.ngramExtractionFields=body

# can be es_original, frequency, binary
index.ngramMatchScoreType=es_original
# field which stores train vs test
index.splitField=split
# split field value for training documents
index.splitField.train=train
# split field value for test documents
index.splitField.test=test

############# train ##########

# start with current model; train for more iterations
train.warmStart=false
train.usePrior=true
train.numIterations=100
train.numLeaves=5
train.learningRate=0.1
train.minDataPerLeaf=3
train.featureSamplingRate=1
train.dataSamplingRate=1
train.numSplitIntervals=100
train.showTrainProgress=true
train.showTestProgress=false
train.showProgress.interval=1

############ predict ##############
# crf or independent; use crf if we believe only label combinations seens in the training set are legal
predict.fashion=independent

############ report ##################
report.topFeatures.limit=10
report.rule.limit=10
report.numDocsPerFile=100
report.classProbThreshold=0.4