#
######### general ##########
train=true
featureMatrix.sparse=true
featureMatrix.missingValue=false
useInitialFeatures=false
categFeature.filter=true
categFeature.percentThreshold=0.1
ngram.n=1,2,3
ngram.minDf=5
ngram.slop=0,1,2
negation.n=1,2,3
negation.slop=0,1,2,3,4,5
input.duplicate=/huge1/people/chengli/projects/pyramid/archives/exp56/imdb/2/duplicate
fields=body
useNounField=true
numFeatures=10000
rank=false
########## archive ##########
#where to save model; always change this to avoid conflicts
archive.folder=/huge1/people/chengli/projects/pyramid/archives/exp35/imdb/14
archive.model=model
archive.trainingSet=train.trec
archive.testSet=test.trec
archive.validSet=valid.trec
archive.dumpFields=false
archive.dumpedFields=label,title

########## index ##########
index.indexName=imdb
index.clusterName=fijielasticsearch
index.documentType=document
# node or transport
index.clientType=transport
index.hosts=fiji11,fiji12
index.ports=9300,9300

index.labelField=label
index.featureFieldPrefix=feature
# field which stores train vs test; optional
index.splitField=split

########## train/test split ##########
# random or fixed
# if fixed, load from index.splitField
split.fashion=fixed
split.random.numFolds=5