################ IO ################
input.trainData=/home/chengli/tmp/ir/train
input.testData=/home/chengli/tmp/ir/test
output.folder=/huge1/people/chengli/projects/pyramid/archives/exp33/trec_spam07/1
output.model=model

################ functions ###########
train=true

########## train ########
history=5
gaussianPriorVariance=0.37146695226123666
epsilon=0.1

