############## input #################
input.folder=/huge1/people/chengli/projects/pyramid/archives/exp12/ohsumed_20000/3
input.trainData=train.trec
input.testData=test.trec
input.featureMatrix.sparse=true

############### output  ###########
output.folder=/huge1/people/chengli/projects/pyramid/archives/exp72/ohsumed_20000/5/
output.model=model

############ function #############
train=true
verify=true
test=true

############# train ##########
train.warmStart=false
train.numIterations=50
train.showPerformanceEachRound=true


############ verify ##################



############# test #################

