input.folder=/huge1/people/chengli/projects/pyramid/archives/exp35/imdb/29
input.trainData=train.trec
input.testData=test.trec


output.folder=/huge1/people/chengli/projects/pyramid/archives/exp70/imdb/15

train=true
test=true
plot=true

train.regularization.min=1.0E-5
train.regularization.max=1.0E-5
train.regularization.size=1
train.l1Ratio.min=0
train.l1Ratio.max=1
train.l1Ratio.size=10


plot.l1Ratio=0,1
