input.folder=/huge1/people/chengli/projects/pyramid/archives/exp35/imdb/29
input.trainData=train.trec
input.testData=test.trec


output.folder=/huge1/people/chengli/projects/pyramid/archives/exp70/imdb/15

train=true
verify=true

featureSampling=true
featureSampling.byField=true
featureSampling.fields=body
featureSampling.fieldPrefixes=noun
featureSampling.byNumber=false
featureSampling.numFeaturesToUse=10000


train.regularization.min=1.0E-5
train.regularization.max=1.0E-5
train.regularization.size=1
train.l1Ratio.min=0
train.l1Ratio.max=1
train.l1Ratio.size=10
