input.folder=/huge1/people/chengli/projects/pyramid/archives/exp35/imdb/15
output.folder=/huge1/people/chengli/projects/pyramid/archives/exp79/imdb/1

input.model=/huge1/people/chengli/projects/pyramid/archives/exp70/imdb/11/0.0/4.6415888336127784E-5/model

verify=true
verify.analyze.rule.limit=10
verify.analyze.doc.withRightPrediction=true
verify.analyze.doc.withWrongPrediction=true
verify.analyze.file=train_analysis.json