############## input #################
input.folder=/huge1/people/chengli/projects/pyramid/archives/exp12/ohsumed_20000/3
input.trainData=train.trec
input.testData=test.trec
input.featureMatrix.sparse=true

############### output  ###########
output.folder=/huge1/people/chengli/projects/pyramid/archives/exp72/ohsumed_20000/5/
output.model=model
output.plattScaling=plattScaling

############ function #############
train=true
verify=true
test=true

############# train ##########
train.warmStart=false
train.numIterations=50
train.showPerformanceEachRound=true
train.scaling.acrossClasses=true

############ verify ##################
verify.topFeatures=true
verify.topFeatures.limit=10
verify.topFeatures.file=top_features.json
verify.analyze=true
verify.analyze.doc.withRightPrediction=true
verify.analyze.doc.withWrongPrediction=true
verify.analyze.class.truePositive=true
verify.analyze.class.trueNegative=true
verify.analyze.class.falsePositive=true
verify.analyze.class.falseNegative=true
verify.analyze.rule.limit=2
verify.analyze.file=train_prediction_analysis.json
verify.analyze.numDocsPerFile=1000

############# test #################
test.analyze=true
test.analyze.doc.withRightPrediction=false
test.analyze.doc.withWrongPrediction=true
test.analyze.class.truePositive=false
test.analyze.class.trueNegative=false
test.analyze.class.falsePositive=false
test.analyze.class.falseNegative=true
test.analyze.rule.limit=1
test.analyze.file=test_prediction_analysis.json
test.analyze.numDocsPerFile=1000