index.folder=/huge1/people/chengli/Datasets/congressional_bill/Congressional_Bill_Corpus.v1.00/
index.textFile=/huge1/people/chengli/Datasets/congressional_bill/Congressional_Bill_Corpus.v1.00/raw/billtext_org.json
index.responseFile=response.json
index.clusterName=fijielasticsearch
index.name=congress
index.documentType=document
