#
######### general ##########
qid=401
numClasses=2
train=true
featureMatrix.sparse=true
featureMatrix.missingValue=false
useInitialFeatures=true
categFeature.filter=true
categFeature.percentThreshold=0.1
ngram.n=1,2,3
ngram.minDf=5
ngram.slop=0,1,2
negation.n=
negation.slop=
fields=body
useNounField=false
numFeatures=10000
rank=true
########## archive ##########
#where to save model; always change this to avoid conflicts
archive.folder=/huge1/people/chengli/projects/pyramid/archives/exp83/1/401
archive.model=model
archive.trainingSet=train.trec
archive.testSet=test.trec
archive.dumpFields=false
archive.dumpedFields=label,title

########## index ##########
index.indexName=trec8
index.clusterName=fijielasticsearch
index.documentType=document
# node or transport
index.clientType=transport
index.hosts=fiji11,fiji12
index.ports=9300,9300

index.featureFieldPrefix=feature
