index.dataFolder=/huge1/sourcedata/TREC_DocCollection/TREC/cd-data/vol4/fr94/,/huge1/sourcedata/TREC_DocCollection/TREC/cd-data/vol4/ft,/huge1/sourcedata/TREC_DocCollection/TREC/cd-data/vol5/fbis/,/huge1/sourcedata/TREC_DocCollection/TREC/cd-data/vol5/latimes/
index.qrelsFile=/huge1/sourcedata/TREC_DocCollection/TREC/qrels/qrels.trec8.adhoc.parts1-5
index.clusterName=fijielasticsearch
index.name=trec8
index.documentType=document
