########## IO ###########
#where to save model; always change this to avoid conflicts
output.folder=/huge1/people/bingyu/pyramid/exps/app4/reuters_2004/0



######### functions ##########
createTrainSet=true
createTestSet=true


######### feature ########## 
feature.useInitialFeatures=true
feature.categFeature.filter=true
feature.categFeature.percentThreshold=0.1
feature.ngram.n=1
feature.ngram.minDf=10
feature.ngram.slop=0
feature.missingValue=false




########## index ########## 
index.indexName=reuters_6
index.clusterName=fijielasticsearch
index.documentType=document
# node or transport
index.clientType=transport
index.hosts=fiji11,fiji12
index.ports=9300,9300
index.labelField=topic_codes
index.featureFieldPrefix=feature
index.featureSelected=
index.ngramExtractionFields=body
# can be es_original, frequency, binary
index.ngramMatchScoreType=es_original
# field which stores train vs test
index.splitField=split
index.splitField.train=train
index.splitField.test=test




