############## input #################
input.folder=/huge1/people/chengli/projects/pyramid/archives/exp12/ohsumed_20000/3
input.trainData=train.trec
input.testData=test.trec
input.featureMatrix.sparse=true

############### output  ###########
output.folder=/huge1/people/chengli/projects/pyramid/archives/exp13/ohsumed_20000/5/
output.model=model

############ function #############
train=false
verify=true
test=false

############# train ##########
train.warmStart=false
train.numIterations=50
train.numLeaves=2
train.learningRate=0.1
train.minDataPerLeaf=3
train.featureSamplingRate=1
train.dataSamplingRate=1
train.numSplitIntervals=100
train.showPerformanceEachRound=true


############ verify ##################
verify.topFeatures=true
verify.topFeatures.limit=10
verify.topFeatures.file=top_features.json
verify.analyze=true
verify.analyze.doc.withRightPrediction=true
verify.analyze.doc.withWrongPrediction=false
verify.analyze.class.truePositive=true
verify.analyze.class.trueNegative=false
verify.analyze.class.falsePositive=false
verify.analyze.class.falseNegative=false
verify.analyze.rule.limit=1
verify.analyze.file=train_prediction_analysis.json
verify.analyze.numDocsPerFile=1000

############# test #################
test.analyze=true
test.analyze.doc.withRightPrediction=false
test.analyze.doc.withWrongPrediction=true
test.analyze.class.truePositive=false
test.analyze.class.trueNegative=false
test.analyze.class.falsePositive=false
test.analyze.class.falseNegative=true
test.analyze.rule.limit=1
test.analyze.file=test_prediction_analysis.json
test.analyze.numDocsPerFile=1000