######### general ########## 
featureMatrix.sparse=true
useInitialFeatures=true
categFeature.filter=true
categFeature.percentThreshold=0.1
ngram.n=1,2,3
ngram.minDf=5
ngram.slop=0,1,2
featureMatrix.missingValue=false
fields=body

########## archive ########## 
#where to save model; always change this to avoid conflicts
archive.folder=/huge1/people/chengli/projects/pyramid/archives/exp12/ohsumed_20000/2
archive.model=model
archive.trainingSet=train.trec
archive.testSet=test.trec
archive.dumpFields=false
archive.dumpedFields=fileName

########## index ########## 
index.indexName=ohsumed_20000
index.clusterName=fijielasticsearch
index.documentType=document
# node or transport
index.clientType=node
index.hosts=fiji11,fiji12
index.ports=9300,9300
index.labelField=real_labels
index.featureFieldPrefix=feature
# field which stores train vs test; optional
index.splitField=split

########## train/test split ##########
# random or fixed
# if fixed, load from index.splitField
split.fashion=fixed
split.random.numFolds=5

