############## input #################
input.folder=/huge1/people/bingyu/pyramid/exps/app1/meka_medical/1
input.trainData=train
input.testData=test


############### output  ###########
output.folder=

############# train ##########
gibbsSamplingTimes=100
numRounds=500
numLeaves=5
learningRate=0.1
numSplitIntervals=100
minDataPerLeaf=3
dataSamplingRate=1
featureSamplingRate=1
randomLevel=1
considerHardTree=true
considerExpectationTree=false
considerProbabilisticTree=false