input.trainData=/Users/Rainicy/Datasets/spam/data_sets/train.trec
input.testData=/Users/Rainicy/Datasets/spam/data_sets/test.trec
numClusters=2
numIterations=30
numSamples=100
softmaxVariance=1.0
logitVariance=1.0
initialize=false
train.warmStart=false
output=/Users/Rainicy/Datasets/spam
modelName=model
saveModel=true

