[Global]
output.folder=/data/output
python.folder=/home/henry/Workspace/pyramid/src/main/python

# 'label0' the string in 'label' field of elastic search for class 0

[ElasticSearch]
es.on=true
### Index
es.clusterName=elasticsearch
es.indexName=imdb
es.documentType=document
### Labels
es.numberOfClasses=2
es.label0=0
es.label1=1
### Shuffle settings
es.shuffle=false
es.trainPercentage=0.8

# 'size' (int) is the dimensionality of the feature vectors
# 'alpha' (float) is the initial learning rate (will linearly drop to zero as training progresses)
# 'min_alpha' (float) is the terminating learning rate
# 'window' (int) is the maximum distance between the current and predicted word within a sentence
# 'min_count' (int) = ignore all words with total frequency lower than this
# 'sample' (float) = threshold for configuring which higher-frequency words are randomly downsampled;
#       default is 0 (off), useful value is 1e-5
# 'seed' (int) = for the random number generator
# 'workers' (int) = use this many worker threads to train the model (=faster training with multicore machines)
# 'sg' (int) defines the training algorithm. By default ('sg=1'), skip-gram is used. Otherwise, 'cbow' is employed
# 'hs' (int) = if 1 (default), hierarchical sampling will be used for model training (else set to 0)
# 'negative' (int) = if > 0, negative sampling will be used, the int for negative
#       specifies how many "noise words" should be drawn (usually between 5-20)
# 'cbow_mean' (int) = if 0 (default), use the sum of the context word vectors. If 1, use the mean.
#       Only applies when cbow is used.

[WordToVector]
word2vec.on=true
word2vec.size=400
word2vec.alpha=0.025
word2vec.min_alpha=0.0001
word2vec.window=10
word2vec.min_count=5
word2vec.sample=0
word2vec.seed=1
word2vec.workers=8
word2vec.sg=0
word2vec.hs=1
word2vec.negative=0
word2vec.cbow_mean=0

[SentenceToVector]
sent2vec.on=true
sent2vec.alpha=0.025
sent2vec.min_alpha=0.0001
sent2vec.window=5
sent2vec.sample=0
sent2vec.seed=1
sent2vec.workers=1
sent2vec.sg=1
sent2vec.hs=1
sent2vec.negative=0
sent2vec.cbow_mean=0
sent2vec.iteration=1
### top features filter
sent2vec.top_ngrams_on=false
sent2vec.top_ngrams_file_path=/home/henry/Tmp/sentence2vec/top_features.json