input.folder=/huge1/people/chengli/projects/pyramid/archives/exp35/imdb/3

########## index ##########
index.indexName=imdb
index.clusterName=fijielasticsearch
index.documentType=document
# node or transport
index.clientType=transport
index.hosts=fiji11,fiji12
index.ports=9300,9300
index.labelField=label
index.extLabelField=real_label
index.featureFieldPrefix=feature
# field which stores train vs test; optional
index.splitField=split