input.folder=/huge1/people/chengli/projects/pyramid/archives/exp84/1/
input.trainData=train.trec
input.testData=test.trec


output.folder=/huge1/people/chengli/projects/pyramid/archives/exp85/1

train=true
test=true

featureSampling=false
featureSampling.byField=true
featureSampling.fields=body
featureSampling.fieldPrefixes=noun
featureSampling.byNumber=false
featureSampling.numFeaturesToUse=10000


train.regularization.min=1.0E-10
train.regularization.max=1.0E-1
train.regularization.size=10
train.l1Ratio.min=0
train.l1Ratio.max=1
train.l1Ratio.size=10
